.animate-scroll-left {
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.bleed-x {
  clip-path: inset(0 -100vw 0 -100vw);
}
