@layer base {
  body {
    @apply relative font-primary text-white m-0 p-0 bg-[url('/media/img/background.webp')] bg-cover bg-center bg-fixed min-h-screen;
  }
}

@custom-variant firefox {
  @supports (-moz-appearance: none) {
    @slot;
  }
}

@layer components {
  .scrollbar-aero {
    scrollbar-width: thin;
    scrollbar-color: var(--color-white-alpha) transparent;
  }

  .scrollbar-aero::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-aero::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9999px;
  }

  .scrollbar-aero::-webkit-scrollbar-thumb {
    background: var(--color-white-alpha);
    border-radius: 9999px;
  }

  .scrollbar-aero::-webkit-scrollbar-thumb:hover {
    background: var(--color-white-alpha);
  }

  .scrollbar-aero::-webkit-scrollbar-thumb:active {
    background: var(--color-white-alpha);
  }
}
