@layer base {
  body {
    @apply relative font-primary text-black m-0 p-0 bg-[url('/media/img/background.png')] bg-cover bg-center bg-fixed min-h-screen;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #424242, #c7c7c7, #343434);
  border-radius: 3px;
  border: 2px solid transparent;
  background-clip: content-box;
}
