@theme {
  /*Fonts*/
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: 'Play', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Text sizes */
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.25rem;

  --text-base: 1rem;
  --text-base--line-height: 1.5rem;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.75rem;

  --text-xl: 1.25rem;
  --text-xl--line-height: 1.75rem;

  --text-2xl: 1.5rem;
  --text-2xl--line-height: 2rem;

  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.25rem;

  /*Measures*/
  --spacing-small: 10rem;
  --spacing-medium-small: 30rem;
  --spacing-medium: 40rem;
  --spacing-medium-big: 45rem;
  --spacing-big: 70rem;

  /*Colors*/
  --color-primary: #2861c9;
  --color-secondary: #5d5d5d;
  --color-white: #ebefff;
  --color-black: #0f0f0f;

  --color-white-alpha: rgb(from var(--color-white) r g b / 80%);
}
